<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fondamenti_informatica</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
{% load static %}
</head>

<body>
    <div class="container">
        <h1 class="text-center">Fondamenti di Informatica</h1></div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="text-center">Games</h2>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="../matches">Game of Matches</a></li>
                        <li class="list-group-item"><span>List Group Item 2</span></li>
                        <li class="list-group-item"><span>List Group Item 3</span></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Notes </h2></div>
                <div class="col-md-4">
                    <h2 class="text-center">Resources </h2></div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>